.information {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 6rem;
  padding: 2rem 2rem 0;
}

.photo {
  display: block;
  position: relative;
  padding: 3rem;
  text-align: left;

  img {
    width: 100%;
    max-width: 400px;
    min-width: 300px;
  }

  &::after {
    content: "";
    position: absolute;
    right: 0;
    top: 5%;
    display: block;
    width: 2px;
    height: 90%;
    background-color: magenta;
    margin: 0 0rem 0 0;
  }
}

.sideinfo {
  padding: 1em 0 1em 3em;

  .text {
    flex: 1 1 0;
    font-size: 0.8rem;
    padding: 0rem;
  }

  .contact-info {
    text-align: left;
    font-weight: 300;
    padding: 1em 0;

    a {
      font-weight: 300;
    }

    div {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      margin: 0.5rem 0;

      svg {
        margin-right: 0.3rem;
      }
    }
  }

  .socialmedia {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 0.5rem 0;

    svg {
      margin-right: 1.5rem;
    }
  }

  .download a {
    text-decoration: underline;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 1em 0 0.5rem 0;

    svg {
      margin-left: 0.3rem;
    }
  }

  p {
    width: 100%;
    text-align: left;
  }

  h2,
  p {
    text-align: left;
    font-size: 2.1em;
  }

  h2 {
    font-weight: 600;
    margin: 0;
  }

  p {
    font-weight: 400;
    margin: 0;
    padding: 0;
  }
}

.contactinfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 0 5rem 2rem;
  font-size: 2rem;

  a {
    color: black;
    font-weight: 600;

    &:hover {
      color: magenta;
    }
  }

  .socialmedia {
    svg {
      width: 1.8rem;
    }

    .linkedin {
      margin-left: 1rem;
    }

  }

  .linkemail {
    width: 1.5rem;
    margin: 0.2rem 0rem -0.2rem;
    height: auto;
  }
}

@media (max-width: 1200px) {
  .photo {
    padding: 2em;
  }
  .information {
  .sideinfo {
    padding-left: 2em;
    .text {

      h2,
      p {
        font-size: 1.4em;
      }
    }
    .contact-info {
    font-size: 0.9em; 
    }
  }
  }
}

@media (max-width: 768px) {
  .information {
    .sideinfo {
      padding-left: 0;
      width: 100%;
      max-width: 400px;
    }
    flex-direction: column;
    padding: 0;

    .photo {
      padding: 0rem 0 0;

      &::after {
        content: "";
        position: absolute;
        top: calc(100% + 1rem);
        left: 0%;
        display: block;
        width: 100%;
        height: 2px;
        background-color: magenta;
        margin: 0 0rem 0 0;
      }
    }

    .text {
      padding: 2rem 0 0;
    }

  }
}