.information {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 6rem;
  padding: 2rem 2rem 0;
}

.photo {
  display: block;
  position: relative;
  padding: 3rem;
  text-align: left;

  img {
    width: 100%;
    max-width: 400px;
    min-width: 100px;
  }

  &::after {
    content: "";
    position: absolute;
    right: 0;
    top: 25%;
    display: block;
    width: 2px;
    height: 50%;
    background-color: magenta;
    margin: 0 0rem 0 0;
  }
}

.text {
  flex: 1 1 0;
  font-size: 0.8rem;
  padding: 3rem;

  p {
    width: 100%;
    text-align: left;
  }
}

.contactinfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 0 5rem 2rem;
  font-size: 2rem;

  a {
    color: black;
    font-weight: 600;

    &:hover {
      color: magenta;
    }
  }

  .socialmedia {
    svg {
      width: 1.8rem;
    }

    .linkedin {
      margin-left: 1rem;
    }

  }

  .linkemail {
    width: 1.5rem;
    margin: 0.2rem 0rem -0.2rem;
    height: auto;
  }
}

@media (max-width: 768px) {
  .information {
    flex-direction: column;

    .photo {
      padding: 0rem 0 0;

      &::after {
        content: "";
        position: absolute;
        top: calc(100% + 1rem);
        left: 25%;
        display: block;
        width: 50%;
        height: 2px;
        background-color: magenta;
        margin: 0 0rem 0 0;
      }
    }

    .text {
      padding: 2rem 0 0;
    }

  }
  .contactinfo {
    padding: 2rem ;
    font-size: 1rem;
    .socialmedia svg {
      width: 1.5rem;
    }
    .linkemail {
      width: 1rem;
    }
  }
}