.group-pages {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 1;
}

@media screen and (max-width: 768px) {
  .group-pages {
    justify-content: space-between;
  }
}

.menu-button {
  padding: 0.5em 0.3em;
  cursor: pointer;
  transition: all 1s;
}

.pages a {
  color: inherit;
  font-weight: 600;
  font-size: 1em;
  display: inline-block;
  padding: 0.5em 0.3em;
  margin: 0 0.8em;
  border: 0px solid #ccc;
  border-radius: 4px;
  text-decoration: underline;
  transition: all 2s;

  &:hover {
    color: magenta;
    transition: all 0.2s;
  }

  &.active {
    color: magenta;
    transition: all 1s;
  }
}

@media screen and (max-width: 768px) {
  .pages {
    display: none;

    &.active {
      display: flex;
      height: 100vh;
      width: 100vw;
      padding: 4.3rem 3.7rem;
      box-sizing: border-box;
      flex-direction: column;
      justify-content: center;
      align-items: end;
      background-color: magenta;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 0;
    }

    a {
      margin: 1.5rem 0.3em;
      &:hover {
        color: white;
        transition: all 0.2s;
      }
      
      &.active {
        color: white;
        transition: all 1s;
      }
    }
  }
}

.active .menu-button,
.active .logo {
  color: white;
}

.topbar.active .menu-button {

  color: inherit;
}
.logo {
  margin: 1.4em 2em 1.4em 0;
  transition: color 2s;
  color: inherit;

  svg {
    height: 3em;
  }
}

.uxcases {
  a {
    text-decoration: underline;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    span {
      margin-right: 0.5em;
    }
    color: inherit;
    &:hover {
      color: magenta;
      transition: all 0.2s;
    }
  }
  margin-left: auto;
  &.mobile {
    position: absolute;
    top: 4.3rem;
    right: 3.7rem;
    margin: 0;
    z-index: 2  ;
  }
}

@media (max-width: 768px) {
  .logo {
    margin: 1em 1em 1em 0;

    svg {
      height: 2em;
    }
  }
}

.logo:hover {
  transition: color 1s;
  filter: drop-shadow(-1 0 2em #61dafbaa);
}

.logo.react:hover {
  filter: drop-shadow(-1 0 2em #61dafbaa);
}