.project {
  display: flex;
  min-height: 100vh;
  width: 91vw;
  flex-direction: row;
  justify-content: center;
  align-items: start;
  margin: 0rem 3vw 0;
  max-width: 1480px;

  &:nth-child(odd) {
    justify-content: start;
    flex-direction: row;
  }

  &:nth-child(even) {
    justify-content: end;
    flex-direction: row-reverse;

    .project-info {
      align-items: end;

      h4.project-title {
        text-align: right;
      }
    }
  }

  .project-image {
    margin: 0em 3em;
    pointer-events: all;
    cursor: pointer;

    video, img {
      max-width: 100%;
      outline: 7px solid transparent;
      transition: all 0.6s linear;
    }

    &:hover video,
    &:hover img {
      outline-width: 13px;
    }

  }


  .project-info {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    color: white;
    transition: all 0.5s 0.6s ease;
    cursor: pointer;

    h4.project-title {
      transition: all 1s ease;
      font-weight: 600;
      font-size: 4.6rem;
      max-width: 6em;
      line-height: 1.1em;
      text-align: left;
      margin: 0 0 0.2em 0;
    }

    a {
      color: white;
      transition: all 1s ease;
    }

    svg {
      transition: all 1s ease;
    }

    a video,
    a img {
      width: 4em;
      margin: 0 0.5em;
    }

    .title-link {
      display: block;
    }
  }
}

@media (max-width: 1200px) {
  div.project {
    align-items: center;
    min-height: auto; 

    .project-image {
      margin: 0em;
      width: 100%;

      a {
        display: block;
        width: 100%;

        video, img {
          width: 70%;
        }
      }
    }

    &:nth-child(odd) {
      flex-direction: column;
      justify-content: center;
    }

    &:nth-child(even) {
      flex-direction: column;
      justify-content: center;
    }

    .title-link {
      width: 70%;
      max-width: 1000px;
    }

    .project-info {
      flex-direction: row;
      justify-content: space-between;
      align-items: start;
      padding: 1rem 0;

      &:nth-child(n) {
        align-items: start;
      }

      h4.project-title {
        font-size: 2rem;
        max-width: 10em;
        &:nth-child(n) {
        text-align: left;
        }
      }

      svg {
        width: 2em;
        height: 2em;
        margin: 0 0.5em;
      }
    }
  }
}

@media (max-width: 768px) {
  div.project {
    .project-image {
      margin: 0em;
      width: 100%;

      a {
        display: block;
        width: 100%;

        video, img {
          width: 100%;
        }
      }
    }

    .title-link {
      width: 100%;
      max-width: 1000px;
    }

    .project-info {
      padding-bottom: 7.2em;
      .project-title {
        line-height: 1.3em;
      }

      &:nth-child(n) {
        align-items: start;
      }
    }
  }
}