.bg-color {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  z-index: 1;
  display: block;
  background-color: rgba(255, 255, 255, 0);
  opacity: 0;
  transition: all 0.4s 0.4s ease;
}

.projects-list {
  margin-top: 59vh;
  padding-top: 20vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  pointer-events: none;
}

.project-detail {
  text-align: left;

  &.container {
    max-width: 1142px;
  }

  h1 {
    font-weight: 600;
  }

  h2 {
    font-weight: 700;
    font-size: 1.5rem;
    margin: 2rem 0 0 0;
  }

  .description {
    font-size: 0.8rem;
    margin-bottom: 2rem;
    font-weight: 300;
  }

  .row-between {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0;
  }

  a svg {
    width: 2rem;
  }

  .center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

}

.caption {
  font-size: 0.6rem;
  margin: 0.2rem 0 0 0rem;
}

.shots {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  .shots-title {
    margin: 10em 0 0 0;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    height: 39vh;
    width: 100%;
    z-index: 3;
    position: relative;

    opacity: 0;
    transition: all 0.3s 1s ease;

    &.visible {
      opacity: 1;
    }

    h3 {
      font-size: 4.643rem;
      font-weight: 600;
    }
  }

  .shots-list {
    width: 100%;
    max-width: 1142px;
    padding-bottom: 3rem;
    background-color: white;
    z-index: 2;
    transition: all 0.4s 0.4s ease;
  }

  .shot {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 7rem 0;
    flex-direction: row;

    &.left {
      align-items: start;
      justify-content: start;
    }

    &.right {
      align-items: end;
      justify-content: end;
    }

    div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: start;
    }

    &.cyanotype {
      flex-direction: column;
      align-items: center;
      justify-content: stretch;
      flex-wrap: no-wrap;

      .img-container {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        video,
        img {
          max-width: 33%;
        }
      }
    }

    .caption {
      font-size: 0.8rem;

      &.full-width {
        width: 100%;
        text-align: left;
        padding-left: 4em;
      }
    }

      .typography {
        .img-container {
          flex-direction: row;
          gap: 1em;
        }
      }
  }
}

.image-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  flex-wrap: wrap;
  width: 100%;
  margin: 1rem 0;
  gap: 1rem;

  video,
  img {
    flex-grow: 0 0 1;
  }
}

.image-row--center {
  justify-content: center;
}

.margin-bottom {
  margin-bottom: 5rem;
}

/* Project specific styles */

#sculpture {
  img {
    max-width: 100%;
  }

  .caption-container {
    float: left;
  }

  .section {
    display: inline-block;
  }
}

#books {

  img {
    max-width: 100%;
  }

  .section {
    width: 100%;
  }

  .container-image {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 0em;
    align-items: center;
    flex-direction: row;
  }

  .caption-container {
    float: left;
  }

  .section {
    display: inline-block;
  }
}

/* Breakpoints */

@media (max-width: 1200px) {
  #naturaldyeing {
    .container-image {
      justify-content: center !important;
      margin-top: 0em !important;
      align-items: center !important;
      flex-direction: column !important;

      &.save-the-bears {
        flex-direction: column-reverse !important;

      }

      img {
        margin: 0 !important;
      }

      .caption-container {
        margin-bottom: 2em;
      }
    }
  }

  #books {
    .container-image {
      flex-direction: column;
    }
  }
}

@media (max-width: 768px) {

  .project-title {
    font-size: 2.5em;
  }

  .shots {
    .shots-title h3 {
      font-size: 3.5rem;
    }

    .shot {
      padding: 1em;
      box-sizing: border-box;
      margin: 5rem 0;

      video,
      img {
        width: 100%;
      }

      &.cyanotype {
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .img-container {
          flex-direction: column;

          video,
          img {
            max-width: 100%;
          }
        }
      }

      .caption {
        &.full-width {
          width: 100%;
          text-align: center;
          padding-left: 0em;
        }
      }

      .typography {
        .img-container {
          flex-direction: column;
          gap: 1em;
        }
      }
    }

  }

  .shots .image-row,
  .image-row {
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    flex-wrap: nowrap;
  }

}